<!DOCTYPE html>

<html>
	<head>
		<title> /auto_tabber </title>
	</head>
	
	<body>
		Welcome to our guitar Auto Tabber tool!
	</body>

	<br><br>
	You can find the code at: https://github.com/sprillo/web-app/blob/master/autoTabber.py
	<br><br>
	You can find sample inputs <a href="/auto_tabber_samples">here</a>. Try copying and pasting them below.
	<br><br>

	<form method = "post">
		<textarea name = "stringGuitarNotes" rows="10" cols="80">{{stringGuitarNotes}}</textarea>
		<br><br>
		Try playing with these model parameters. It might make the Auto Tabber produce better results for your specific tab.
		<br>
		Pinky Penalty: <input type="text" name="wPinky" value = "{{wPinky}}"> This penalizes the use of the pinky. (Default = 1)<br>
		Index Finger Position Penalty: <input type="text" name="wIndexFingerPosition" value = "{{wIndexFingerPosition}}"> This penalizes having the left hand higher up the neck.(Default = 0.1) <br>
		Index Finger Position Delta Penalty: <input type="text" name="wIFPDelta" value = "{{wIFPDelta}}"> This penalizes moving the left hand up and down the neck. (Default = 2) <br>	
		<br>
		Additionally, you can:
		<br>
		Show Finger Anotations: <input type="text" name="showFingerAnotations" value = "{{showFingerAnotations}}"> (Y/N, Default = N) <br>
		Show Score Explanation: <input type="text" name="explainScore" value = "{{explainScore}}"> (Y/N, Default = N) <br>
		<br>
		<input type = "submit">
	</form>
	

	<br><br>

	{{message[0]|safe}}
	
	{{message[1]|safe}}
	
	{{message[2]|safe}}
	
</html>
