<!DOCTYPE html>

<html>
	<head>
		<title> /auto_tabber_samples </title>
	</head>
	
	<body>
		Auto Tabber Sample Inputs
	</body>

	<br><br>
	
	<a href="/auto_tabber">Back to Auto Tabber tool</a>
	
	<br><br>
	
	<b>Stairway to Heaven, opening (Led Zeppelin)</b>:<br> D7 G5 B5 e5 D6e7 B5 G5 e7 D5e8 B5 G5 e8 D4e2 B3 G2 e2 D3e0 B1 G2 B1 e0 B1 G2 A2G0B0 A0G2B1 A0G2B1
	<br><br>
	<b>Stairway to Heaven, extended opening (Led Zeppelin)</b>:<br> D7 G5 B5 e5 D6e7 B5 G5 e7 D5e8 B5 G5 e8 D4e2 B3 G2 e2 D3e0 B1 G2 B1 e0 B1 G2 A2G0B0 A0G2B1 A0G2B1 A0 A8 A7 D7 G5 B5 e5 D6e7 B5 G5 e7 D5e8 B5 G5 e8 D4e2 B3 G2 e2 D3e0 B1 G2 B1 e0 B1 G2 A2G0B0 A0G2B1 A0G2B1 A0 A2 A3 D2 G0 e0 D0e2 B3 G2 e2 D3e0 B1 G2 e0 A0B0 B1 G2 A0 A2 A3B1 G0 D2 B1 E3e3 B0 G0 e3 D0e3 e2 D0B3e2 D0B3e2 A0 A2 A3 D2 G0 B1 D0e2 B3 G2 e2 D3e0 B1 G2 e0 A0B0 B1 G2 A0 A2 A3 D2 G0 B1 D0 G2 B3 e2 D3G2B1e0 D3G2B1e0 D3G2B1e0
	<br><br>
	<b>Stairway to Heaven, full solo (Led Zeppelin)</b>:<br> G7 e5 B8 B5 G7 G5 D7 G7 G5 D7 D5 A8 A8 B8 B10 e8 e8 e10 e8 B10 B8 B10 e8 e10 e8 B10 B8 G9 B8 B10 G7 B5 e5 B8 B5 G7 G5 D7 G7 G5 D7 D5 A7 D5 D7 G5 D7 G5 G5 G0 e5 B8 B5 G7 G5 D7 G7 G5 D7 D5 D7 D5 A8 A12 D10 G10 D12 D10 A12 D10 D12 D14 G12 D14 G12 G14 B13 B15 B15 B13 B15 B13 e15 e15 e12 B15 B15 B15 B13 G14 B13 B15 B15 B13 G14 B13 B15 B15 B13 G14 B13 B15 B15 B13 G14 B13 B15 B15 B13 G14 B13 B15 B15 B13 G14 B13 B15 B15 B13 G14 B13 B15 B15 B13 G14 B13 B15 B15 B13 G14 B13 B15 B15 B13 G14 B13 B15 B15 B13 G14 B13 e15 e15 e15 e12 e15 e12 B15 B13 G14 B13 B15 B13 G14 B13 B15 e15 B15 B15 B13 G14 G19 B20 e17 B20 G19 G19 G17 G19 G17 D19 G17 G19 G14 G14 G12 G14 G12 G12 G14 G10 G10 G9 G7 D10 G7 D10 G7 G8 G7 D10 D7 B17 e20 e17 B17 e20 e17 B17 e20 e17 B17 e20 e17 B17 e20
	<br><br>
	<b>Ciudad de la Furia, up to chorus (Soda Stereo). Tab from <a href="https://tabs.ultimate-guitar.com/s/soda_stereo/en_la_ciudad_de_la_furia_tab.htm">here</a>.</b><br>A3D2G0B3 A2D0G0B3e3 G9 B8 e5 G9 B8 e5 G9 B8 e5 G9 B8 e5 G9 B8 e5 G9 B8 e7 G9 B8 e7 G9 B8 e7 G9 B8 e10 G9 B8 e9 G9 B8 e5 G9 B8 e5 G9 B8 e5 G9 B8 e5 G9 B8 e5 G9 B8 e5 G9 B8 e5 G9 B8 e5 G9 B8 e5 G9 B8 e5 G9 B8 e7 G9 B8 e7 G9 B8 e7 G9 B8 e10 G9 B8 e9 E0 A2 D0 G0B3 E3 D0 G0B3 A0 D2 G2B2 E0 A2 D0 G0B3 E3 D0 G0B3 A0 D2 G2B2 E3 G0 B3 e2 B3 e2 e3 e2 B2e0 G2B2 E3 G0 B3 e2 B3 e2 e3 e2 B2e0 G2B2 E0 A2 D0 G0B3 E3 D0 G0B3 A0 D2 G2B2 E0 A2 D0 G0B3 E3 D0 G0B3 A0 D2 G2B2 E3 G0 B3 e2 B3 e2 e3 e2 B2e0 G2B2 E3 G0 B3 e2 B3 e2 e3 e2 B2e0 G2B2
	<br><br>
	<b>Here Comes the Sun, full song (The Beatles; fingerstyle arrangement by Tommy Emmanuel). Tab from <a href="https://tommyemmanuel.files.wordpress.com/2007/09/tommy-emmanuel-here-comes-the-sun.pdf">here</a>.</b><br>D0 G2 D0e2 B3 D0e0 e2 D0 B3 D0 G2 D0e2 e0 D0 B3 D0 B0 E3 B3 E3 e0 E3 B3 E3 B0 A0G2B2 B0 A0G2B2 G0B3 A0 B2e0 A0 G0 D0 G2 D0e2 B3 D0e0 e2 D0 B3 D0 G2 D0e2 e0 D0 B3 D0 B0 E3 e2 E3 e0 E3 B3 E3 B2 A0 G0 A0B2 B3 A0 B2e0 A0 G0
	D0 G2 D0B3e2 B3e0 D0 B3e2 D0 B3 D0 G2 D0e2 B3 D0e0 e2 D0 B0 E3 G0 E3B0e2 B0e0 E3 B0e2 E3 G1B3 E0 E0G1B3 G1B2 E0 G1B0 E0 G1 
	D0 B3e2 D0 B3e0 D0 B3 D0 G2 D0G4 B3 e0 D0G2 B3 e0 D0G0 B3 e0 D0G2 B3 e0 A0B3 B2 A0G4 G2 D0 G2 D0e2 B3 D0e0 e2 D0 B0 A0G2B2 G0B0 A0G2B2 G0B3 A0 B2e0 A0 G0 
	D0 G2 D0e2 B3 D0e0 e2 D0 B0 A0G2B2 A0 A4 D2 D3 G2 B1 A3 D2 G0 A2 D0 G0 E3 A2 D0 D0e2 B3 D0e0 e2 D0 B0 A0G2B2 G0B0 A0G2B2 
	A0 A4 D2 D3 G2 B1 A3 D2 G0 A2 D0 G0 E3 A2 D0 D0e2 B3 D0e0 e2 D0 B0 
	A0G2B2 A0 A0 B0 A0G2B2 G0B3 A0 A0 A0 G2B2 A0G0B3 B2e0 A0 A0 A0 G0B3 A0B2e0 B2e3 A0 A0 A0G2B5e5 A0G2B5e5 
	D0 B3e2 D0 B3e0 D0 B3 D0 G2 D0G4 B3 e0 D0G2 B3 e0 D0G0 B3 e0 D0G2 B3 e0 A0B3 B2 A0G4 G2 D3 G2 B1 A3 D2 G0 A2 D0 G0 E3 A2 D0G2B3e2
	<br><br>
	<b>Some major chords</b>:<br> A3D2G0B1e0 D0G2B3e2 E0A2D2G1B0e0 E1A3D3G2B1e1 E3A2D0G0B3e3 A0D2G2B2e0 A2D4G4B4e2
	<br><br>
	<b>Some minor chords</b>:<br> A3D5G5B4e3 D0G2B3e1 E0A2D2G0B0e0 E1A3D3G1B1e1 E3A5D5G3B3e3 A0D2G2B1e0 A2D4G4B3e2
	<br><br>
	<b>Example in page 5, upper right, of paper "Input-Output HMM Applied to Automatic Arrangement for Guitars", by Gen Hori, Hirokazu Kameoka and Shigeki Sagayama (2013)</b>:<br> G5 G7 B5 B6 B8 e5 e7 e8
	<br><br>
	<b>Example in page 6, upper left, of paper "Input-Output HMM Applied to Automatic Arrangement for Guitars", by Gen Hori, Hirokazu Kameoka and Shigeki Sagayama, (2013)</b>:<br> D10 G7 G9 G10 B8 B10 e7 e8 e10
	<br><br>
	<b>Example in page 6, upper right, of paper "Input-Output HMM Applied to Automatic Arrangement for Guitars", by Gen Hori, Hirokazu Kameoka and Shigeki Sagayama, (2013)</b>:<br> E3G4B3e3 A0G0B1e2 A0e0 A2G0B3 A3D2G0B1 D0G0B0 A3D4G2 E3A2D0G0 A2G0B3
	<br><br>
	<b>Example in page 6, middle right, of paper "Input-Output HMM Applied to Automatic Arrangement for Guitars", by Gen Hori, Hirokazu Kameoka and Shigeki Sagayama, (2013)</b>:<br> E1e3 D3G2B4e3 e3 A1e3 A1D3G1B3 e1 A3D5G3B4 e1 E1G2B4e3 e5
	<br><br>
	<b>Example in page 4, top right, of paper "Minimax Viterbi Algorithm for HMM-Based Guitar Fingering Decisions", by Gen Hori and Shigeki Sagayama (2016)</b>:<br> A3 A5 D2 D3 D5 G2 G4 G5 B3 B5
	<br><br>
	<b>Example in page 5, top left, of paper "Minimax Viterbi Algorithm for HMM-Based Guitar Fingering Decisions", by Gen Hori and Shigeki Sagayama (2016)</b>:<br> A7 D9 D9 D9 D9 D7 D5 D5 D4 D2
	<br><br>
	<b>Example in page 5, top right, of paper "Minimax Viterbi Algorithm for HMM-Based Guitar Fingering Decisions", by Gen Hori and Shigeki Sagayama (2016)</b>:<br> G5 D5 G5 D5 G5 D5 G5 B5 e3
	<br><br>
	<b>Example in page 4, top right, of paper "A Genetic Algorithm for the Automatic Generation of Playable Guitar Tablature", by Tuohy and Potter (2005)</b>:<br> A0 D10 G9 B8 A0D10G9B8e7 G9 B0 G9 D10G9B8 B10 e10 e7 e7 G7B7 e5 G5B5 e3 G5B5 e5 G5B5
	
	<br><br>
	
</html>
