<!DOCTYPE html>

<html>
	<head>
		<title> /auto_tabber </title>
	</head>
	
	<body>
		Welcome to my guitar Auto Tabber!
	</body>

	<br><br>

	Enter the notes below, in GUITAR FORMAT (see example input below).
	<br>
	Please note that the only reason why guitar format is required is because it is the most confortable format to test the app; the app does not 'cheat'.
	<br>
	Once you input the notes, click the "Submit" button to run the Auto Tabber.
	<br>
	The Auto Tabber will try to find a decent arrangement for the given score on guitar. Furthermore, it will try to split the notes into phrases for clarity.
	<br>
	The Auto Tabber uses a Probabilistic Graphical Model (more precisely, a Hidden Markov Model) to find the best arragement it can.
	<br>
	Please note, I only spent two days working on this project, it doesn't have much testing. It might do weird things!
	<br>
	Check the code at: https://github.com/sprillo/web-app/blob/master/autoTabber.py
	<br>
	NOTE: When several notes are played at the same time, input them in order from lowest to highest string.
	
	<br><br>

	<form method = "post">
		<textarea name = "stringNotes" rows="10" cols="80">{{stringNotes}}</textarea>
		<br>
		<br>
		<input type = "submit">
	</form>

	<br><br>

	{{message[0]|safe}}
	
</html>
