<!DOCTYPE html>

<html>
	<head>
		<title> /auto_tabber </title>
	</head>
	
	<body>
		Welcome to my guitar Auto Tabber!
	</body>

	<br><br>

	Enter the notes below, in GUITAR FORMAT (see example input below).
	<br>
	Please note that the only reason why guitar format is required is because it is the most confortable format to test the app; the app does not 'cheat'.
	<br>
	Once you input the notes, click the "Submit" button to run the Auto Tabber.
	<br>
	The Auto Tabber will try to find a decent arrangement for the given score on guitar. Furthermore, it will try to split the notes into phrases for clarity.
	<br>
	The Auto Tabber uses a Probabilistic Graphical Model (more precisely, a Hidden Markov Model) to find the best arragement it can.
	<br>
	Please note, I only spent two days working on this project, it doesn't have much testing. It might do weird things! In particular, the Auto Tabber does not support bends, hammer-ons, pull-offs, harmonics or tapping. It only goes as far as the example below.
	<br>
	Check the code at: https://github.com/sprillo/web-app/blob/master/autoTabber.py
	<br>
	NOTE: When several notes are played at the same time, input them in order from lowest to highest string.
	
	<br><br>

	<form method = "post">
		<textarea name = "stringNotes" rows="10" cols="80">{{stringNotes}}</textarea>
		<br><br>
		Try playing with these two model parameters. It might make the Auto Tabber produce better results.
		<br>
		New phrase penalty: <input type="text" name="phrasePenalty" value = "{{phrasePenalty}}"> (Default = 10) <br>
		Pinky penalty: <input type="text" name="pinkyPenalty" value = "{{pinkyPenalty}}"> (Default = 1) <br>
		<br>
		<b>New phrase penalty:</b> This is how much Auto Tabber will penalize starting new phases. If you set this to 0 it will think every note is a phrase and there will be a lot of left hand movement. If you set this to 1000 it will try to fit all the piece into one phrase and there will be very little left hand movement.
		<br><br>
		<b>Pinky penalty:</b> This is how much the model penalizes using the pinky.
		<br>
		<br>
		<input type = "submit">
	</form>
	

	<br><br>

	{{message[0]|safe}}
	
</html>
